/*headerここから*/

.top{
	background-image: url(../img/mv01_pc.png);
	background-repeat: no-repeat;

}

header{
	width: 1100px;
	background-color: white;
	border-radius:12px;
	font-size: 15px;
	position: fixed;
	left: 26%;
    top: 28%;
	margin: -200px 0px 0px -200px;
	z-index: 10;
}

.nav {
	display: flex;
	justify-content:space-around;
	text-align: center;
}

ul{
	display: flex;
}

.icon {
<<<<<<< HEAD
  margin-left: 40px;
=======
  display: flex;
  align-items: center;
  margin-left: 0px;
>>>>>>> cc5a934734de12115ce4b89e922688b64e551758
  padding-top: 20px;
}

.icon img {
  height: 60px;
}

<<<<<<< HEAD
=======
.nav{
	display: flex;
	justify-content: center;
	text-align: center;
}

.nav-item{
	display: flex;
	padding-top: 25px;
	margin:0 auto;
	font-weight: bold;
}

>>>>>>> cc5a934734de12115ce4b89e922688b64e551758

header .btn{
	border-radius: 20px;
    padding: 8px 28px;
}

/*headerここまで*/

/*mainここから*/
.main-visual{
	height: 760px;
	width: 0 auto;
	background-image: url(../img/mv01_pc.png);
	text-align: center;
	display: flex;
 	flex-direction: column;
	justify-content: center;
}

.info{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: #7dbf41;
	font-family: inherit;
}

.movie{
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: #e60113;
	font-family: inherit;
}

.infoto{
	width: 500px;
}

aside{
	justify-content: center;
	text-align: center;
	display: flex;
}

.result{
	display: flex;
	text-align: center;
}

/*mainここまで*/



/*キャラクター紹介*/
.container{
	text-align: center;
}

.text{
	font-size: 60px;
	font-weight: bold;
	align-items:flex-end;
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

h3{
	text-align: center;
}

.back-y{
	background-color: white;
	width: 800px;
	height: 600px;
	display: flex;
	justify-content:space-around;
}

.back-y1{
	background-color: #faf86d;
	height: 300px;
	text-align: center;
}

.back-p1{
	background-color: #fcdfeb;
	height: 150px;
}

.back-y2{
	background-color: #faf86d;
	height: 150px;
}

.back-p2{
	background-color: #fcdfeb;
	height: 150px;
}

.back-y3{
	background-color: #faf86d;
	height: 150px;
	flex-direction:column-reverse;
	justify-content:space-between;
	font-size: 30px;
	font-weight: bold;
	padding-top: 30px;
	text-align: center;
}

.back-p3{
	background-color: #fcdfeb;
	height: auto;
	text-align: center;
}

button{
	background-color: #5cb9da;
	width: 300px;
}

.back img{
	width: 0 auto;
}


/*swiperここから*/
.swiper-container{
  width: 600px;
}

.swiper-slide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img{
  width: 300px;
  height: 300px;
}
/*swiperここまで*/


/*ON AIRここから*/
.background{
	background-image: url(../img/back_onair.png);
	height: 800px;
	width: 0 auto;
}

.onair{
	color: white;
	font-size: 60px;
	font-weight: bold;
	align-items:flex-end;
	text-align: center;
}

.bangumi{
	color: white;
	font-size: 20px;
}

.card-body{
	font-size: 20px;
	color: #464646;
}


.card{
	margin-left: 50px;
	display: flex;
}

.oya{
	display: flex;
	justify-content: space-around;
}

.gacha img{
	width: 230px;
	height: auto;
}

#result{
	justify-content: center;
}
/*ON AIRここまで*/

<<<<<<< HEAD
=======
<<<<<<< HEAD
.back-green{
	background-color: 
}

=======
/*!!!!!!!
<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <ul class="float-left nav sns-links">
          <li><a href="https://twitter.com/mukkuofficial" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/gachapin_official/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <span class="copyright text-white">Copyright &copy; ガチャムク</span>
      </div>
    </div>
  </div>
  <div class="pagetop position-absolute">
    <a href="#" class=""><img src="/assets/img/pagetop.png"></a>
  </div>
</footer>*/
/*
*
 * footer
 */
 /*
footer {
  background-color: #202020;
  padding: 50px 0;
  position: relative;
}

footer li > a:hover,
footer li > a {
  color: #fff;
}

.copyright {
  letter-spacing: 0.2em;
}

footer .sns-links {
  position: absolute;
}

footer .sns-links li {
  margin-right: 1.5em;

}

footer .sns-links li a {
  font-size: 1.2em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer .sns-links li a:hover {
  opacity: .5;
}
footer .sns-links li a.aboutlink {
  font-size: 1em;
  display: block;
  padding: 0.2em 0;
}

footer .pagetop {
  right: 40px;
  bottom: 50px;
  width: 221px;
}

footer .pagetop img {
  width: 100%;
  transition: all 0.3s;
}

footer .pagetop a:hover img {
  margin-bottom: 10px;
}
*/

>>>>>>> cc5a934734de12115ce4b89e922688b64e551758
>>>>>>> c169095818870ac35f5804f8e20dd58b5a0bd699

/*footer*/
footer{
	background-color: #202020;
    padding: 30px 0;
    position: relative;
}

.fa-twitter{
	color: white;
}

.fa-instagram {
	color: white;
}

.text-center{
	text-align: center;
}

.copyright {
	color: white;
	justify-content: center;
	letter-spacing: 0.2em;
}

footer .snslinks{
	text-align: left;
}

footer .snslinks li{
	margin-right: 50px;
}


/*footerここまで*/
